<!-- modify employee-->
<div class="editForm">
    <h3>
      <ng-container *ngIf="isNew; else modifyingTitle">Aggiungi Cliente</ng-container>
      <ng-template #modifyingTitle>Stai modificando dipendente {{employee.id}}</ng-template>
    </h3>
  
    <label>Nome</label>
    <input type="text" [(ngModel)]="employee.firstName" required>
  
    <label>Cognome</label>
    <input type="text" [(ngModel)]="employee.lastName" required >
  
    <label>Genere</label>
    <select  [(ngModel)]="employee.gender" required>
      <option value="M">M</option>
      <option value="F">F</option>
    </select>
  
    <label>Data di nascita</label>
    <input  type="date" [(ngModel)]="employee.birthDate" required>
  
    <label>Data di assunzione</label>
    <input  type="date" [(ngModel)]="employee.hireDate" required>
    <br>
    <button (click)="cancel()">
      <mat-icon>clear</mat-icon>
    </button>
    &nbsp;
    <button (click)="submit()">
      <ng-container *ngIf="isNew; else modifyingButton"><mat-icon>done</mat-icon></ng-container>
      <ng-template #modifyingButton><mat-icon>done</mat-icon></ng-template>
    </button>
  </div>
